<footer class="footer py-3 mb-auto navbar-expand">
    <div class="container d-flex justify-content-center align-items-center" style="background-color: rgb(8, 195, 228);">
        <p class="text-center">&copy; ShopWorld-2023 </p>
    </div>
</footer>